<h1>Histoire de l'Irlande</h1>
<img width="400" alt="Irlande Logo" src="http://www.theemeraldisle.org/images/celtic-cross-logo-2.jpg">
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Antiquité et Moyen-Âge :
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            
            L'Irlande est peuplée depuis le 9éme millénaire avant JC, une grande civilisation celte va se développer à partir du VIéme siècle avant JC. C'est une civilisation très structurée par un système de clans qui est dirigée par un Ard ri Erenn (roi suprême d'Irlande).
            L'Irlande ne sera pas colonisée par Rome bien que la Grande-Bretagne le soit.
            A partir du IVéme siècle, le pays se christianise mais certains rites celtiques vont perdurer jusqu'au XIIéme siècle.
            Au VIIIéme siècle, l'Irlande est victime d'expéditions vikings meurtrières, les Vikings installent même des places fortes sur le territoire.
            A partir du XIIéme siècle, l'Angleterre entreprend de conquérir l'île et en 1494 la couronne déclare sa domination sur toute l'île.
        
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Du XVIe au XIXe :
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          
            En 1541, Henri VIII prend le titre de Roi d'Irlande.
            Une révolte éclate en 1641 mais elle sera brisée par Cromwell en 1649.
            La religion catholique est persécutée et une nouvelle révolte éclate en 1798. Une république est proclamée mais la répression anglaise est terrible.
            En 1800, la Grande-Bretagne proclame l'Union Act qui unit totalement l'Irlande au Royaume-Uni.
            Le XIXéme siècle est marquée par de terribles famines et une émigration massive vers l'Amérique.

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            XXe :
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          
            Le mouvement pour l'indépendance se renforce et en 1905 le Sinn Fein, parti indépendantiste, est créé.
            En 1916, l'insurrection de Pâques éclate, elle est écrasée par les forces anglaises mais la popularité du Sinn Fein est de plus en plus importante. En 1918, le Sinn Fein remporte les élections et forme un parlement irlandais. Il proclame l'indépendance mais le parlement est dissous par les anglais.
            Un nouveau soulèvement éclate. En 1921, le traité de Londres fait de l'Irlande, amputée d'une partie de son territoire, un dominion de l'empire britannique.
            Ce traité fut ratifié mais il est très impopulaire, la guerre civile d'Irlande éclate entre les partisans de la lutte pour l'indépendance et les partisans du compromis de 1921.
            En 1937, le président du conseil fait adopter une nouvelle constitution qui proclame l'indépendance de l'Irlande. Un traité est conclu avec les Royaume-Uni en 1938.
            L'Irlande reste neutre durant la Seconde Guerre Mondiale. Depuis 1949, l'Irlande est une république parlementaire. La lutte pour l'indépendance continue en Irlande du Nord.

        </div>
      </div>
    </div>
  </div>
